# Application Settings
APP_NAME=
DEBUG=
ENVIRONMENT=

# Server Settings
HOST=0.0.0.0
PORT=8000

# Database Settings
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# Notifications
NOTIFICATION_EMAIL=
EMAIL_PWD=
SMTP_SERVER=
SMTP_PORT=
EMAIL_TIMEOUT=

# JWT Settings
SECRET_KEY=
STORAGE_BUCKET=
